@use 'vars';
@use 'sliderarea';
@use 'togglearea';

.pricing-box {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  max-width: 500px;
  padding: 30px;

  background-color: vars.$white;
  border: 2px solid black;
  border-radius: 10px;
}
